/* RESETS */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-color: #333;
  color: #eee;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.header__title {
  font-size: 2.5rem;
}

/* BODY */

.body {
  flex: 1 0 auto;
}

.post-search {
  padding: 5px;
  width: 80%;
  font-size: 1.5rem;
}

.post-select {
  width: 50%;
  height: 100%;
  font-size: 1.5rem;
}

.post-add {
  padding: 8px;
  background-color: #32cd32;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
}

.post-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.post-list__item {
  font-size: 1.5rem;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  word-break: break-all;
}

.post-list__item--link {
  text-decoration: none;
  color: black;
}

button {
  padding: 8px;
  cursor: pointer;
  color: white;
}

.submit-button,
.save-button {
  background-color: #32cd32;
}

.cancel-button,
.remove-button {
  background-color: #f00;
}

/* FOOTER */

.footer {
  padding: 1rem;
  background-color: #333;
  color: #eee;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
