/* RESETS */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  background-color: #333;
  color: #eee;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.header__title {
  font-size: 2.5rem;
}

.header__title--link {
  text-decoration: none;
  /* Need important or use inline style otherwise will default o background if hovered */
  color: white !important;
}

/* BODY */

.body {
  flex: 1 0 auto;
}

.post-list {
  list-style: none;
  padding: 0;
  margin-top: 0.8rem;
}

.post-list__item {
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

.post-list__item--link {
  text-decoration: none;
  color: black;
}

.filter-group-container {
  display: flex;
  justify-content: space-between;
}

.filter-group {
  display: flex;
  justify-content: space-between;
  width: 35rem;
}

.no-post-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 40rem) {
  .filter-group-container {
    flex-direction: column;
  }

  .filter-group {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* FOOTER */

.footer {
  padding: 1rem;
  background-color: #333;
  color: #eee;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
